<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%= title %></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <!-- <h3 class="card-title">Quick Example</h3> -->
                        </div>
                        <!-- form start -->
                        <form enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="title"
                                        name="title"
                                        placeholder="Enter Title"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="source"> Source </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="source"
                                        name="source"
                                        placeholder="Enter Source"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="summernote">Content</label>
                                    <textarea id="summernote"> </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="image">File Upload</label>
                                    <input
                                        type="file"
                                        class="form-control"
                                        id="image"
                                        name="image"
                                        multiple
                                        accept="image/*"
                                    />
                                </div>
                                <label for="image"> Preview Image:</label>
                                <div class="form-group">
                                    <div
                                        class="image-preview"
                                        id="image-preview-container"
                                    ></div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select
                                        class="form-control"
                                        id="category"
                                        name="category"
                                    >
                                        <option value="">
                                            Select Category
                                        </option>
                                        <option value="1">নোটিশ</option>
                                        <option value="2">ফলাফল</option>
                                        <option value="3">
                                            প্রশ্ন ও উত্তর
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button
                                    id="submitPost"
                                    type="submit"
                                    class="btn btn-primary col-12"
                                >
                                    Submit
                                </button>

                                <!-- loader -->
                                <div
                                    class="overlay dark text-center"
                                    style="display: none"
                                    id="loader"
                                >
                                    <i class="fas fa-sync-alt fa-spin"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/plugins/jquery/jquery.min.js"></script>
<script>
    const loader = document.getElementById("loader");
    const submitPost = document.getElementById("submitPost");
    const imageInput = document.getElementById("image");
    const previewContainer = document.getElementById("image-preview-container");

    imageInput.addEventListener("change", function () {
        previewContainer.innerHTML = "";

        for (const file of imageInput.files) {
            const previewItem = document.createElement("div");
            previewItem.classList.add("image-preview");

            const image = document.createElement("img");
            image.src = URL.createObjectURL(file);

            const removeIcon = document.createElement("span");
            removeIcon.classList.add("remove-icon");
            removeIcon.innerHTML = "&times;";

            removeIcon.addEventListener("click", function () {
                previewContainer.removeChild(previewItem);
                const fileIndex = Array.from(previewContainer.children).indexOf(
                    previewItem
                );
                if (fileIndex !== -1) {
                    imageInput.files.splice(fileIndex, 1);
                }
                if (previewContainer.children.length === 0) {
                    imageInput.value = ""; // Reset input field
                }
            });

            previewItem.appendChild(image);
            previewItem.appendChild(removeIcon);
            previewContainer.appendChild(previewItem);
        }
    });
    $("#submitPost").click(function (e) {
        e.preventDefault();
        loader.style.display = "block";
        submitPost.classList.add("d-none");
        const title = $("#title").val();
        const source = $("#source").val();
        const content = $("#summernote").val();
        const category = $("#category").val();
        const image = $("#image").val();
        const formData = new FormData();
        formData.append("title", title);
        formData.append("source", source);
        formData.append("content", content);
        formData.append("category", category);
        //multiple file upload
        var files = $("#image")[0].files;
        for (var i = 0; i < files.length; i++) {
            formData.append("image", files[i]);
        }
        $.ajax({
            url: "/notice/create",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                //reset form
                $("#title").val("");
                $("#source").val("");
                $("#summernote").val("");
                $("#category").val("");
                $("#image").val("");
                previewContainer.innerHTML = "";

                Toastify({
                    text: data.message,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "green",
                    stopOnFocus: true,
                }).showToast();
                loader.style.display = "none";
                submitPost.classList.remove("d-none");
            },

            error: function (err) {
                Toastify({
                    text: err.responseJSON.message,
                    duration: 3000,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "red",
                    stopOnFocus: true,
                }).showToast();
                loader.style.display = "none";
                submitPost.classList.remove("d-none");
            },
        });
    });
</script>
