<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="" class="h1"><b>Job</b>Hunter</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg text-red"><%= locals.message %></p>

            <form action="/user/login" method="POST" autocomplete="off">
                <div class="input-group mb-3">
                    <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Email"
                    />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Password"
                    />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            Sign In
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<script>
    const form = document.querySelector("form");

    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;

        console.log(email, password);

        try {
            const res = await fetch("/loginUser", {
                method: "POST",
                body: JSON.stringify({ email, password }),
                headers: { "Content-Type": "application/json" },
            });

            const data = await res.json();

            if (data.status === "success") {
                location.assign("/dashboard");
            } else {
                alert(data.message);
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
