<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%- title %></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><%- title %></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content col-6 mx-auto">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title"><%- title %></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="cat"
                            >Category Name
                            <span class="text-red">*</span></label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="cat"
                            placeholder="Enter Categories Name"
                        />
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary col-12">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>

<script>
    //create category
    const addCategory = document.querySelector("form");
    addCategory.addEventListener("submit", async (e) => {
        e.preventDefault();
        const catName = document.querySelector("#cat").value;
        try {
            const res = await fetch("/createCategory", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ catName }),
            });
            const data = await res.json();
            if (data.status === "success") {
                //i need to clear the input field
                document.querySelector("#cat").value = "";
                Toastify({
                    text: data.message,
                    backgroundColor:
                        "linear-gradient(to right, #00b09b, #96c93d)",
                    duration: 5000,
                }).showToast();
            } else if (data.status === "error") {
                Toastify({
                    text: data.errors.message,
                    backgroundColor:
                        "linear-gradient(to right, #ff416c, #ff4b2b)",
                    duration: 5000,
                }).showToast();
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>
